input[type="number"] {
  max-width: 80%;
}




@media (min-width: 650px){
  .gadget-tabs-content-container {
  margin-left: 150px;
  margin-right: 150px;
}
}



/* Customize fonts */
  body, label, input, button, select { 
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
    background-color: #f2f2f2 !important;
  }
h1, h2, h3, h4 { font-weight: 400; }


.shiny-split-layout > div {
  overflow: visible;
}

/* If not using map tiles, show a white background */
  .leaflet-container {
    background-color: white !important;
  }
  
#bold_input form label {
   font-weight: bold;
}

#station_info {
   text-align: center;
}